@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: #f4f6fb;
  --foreground: #0a1b3f;
  --border: #dde3f5;
  --primary: #5570ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background);
  /* color: var(--foreground); */
  font-family: var(--font-geist-sans), "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}

button {
  cursor: pointer;
}
